<li class="mp3"><span class="text"><a class="file-download-link" target="_blank" href="index.php?action=download&amp;file=;:filePath:;">;:title:;</a> <a class="linkbutton smallbutton" href=";:direct-link:;">perma</a> ;:add-to-playlist:;  <code>;:filesize:;</code></span></li>
