<span id="theurl" data-url=";:esc_dir:;" />
<div class="album-title">;:html_dir:;</div><!--div.album-title-->
<div class="m3uplayer">
    <div class="currentsong">
        Current song: <span id="currentSong"></span> &#160;&#160;&#160; 
        <a style="cursor:pointer; text-decoration:underline;" onclick="shufflePlaylist()">shuffle</a>
    </div>
    <div id="mediaplayer"></div>
    ;:flashPlayer:;
</div><!--div.m3uplayer-->
