<html>
    <head>
        ;:viewport:;
        <title>MP3 Stream Builder</title>
        <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="js/jplayer/jquery.jplayer.min.js"></script>
        <script type="text/javascript" src="js/jplayer/jplayer.playlist.js"></script>
        <script type="text/javascript" src="js/livequery/jquery.livequery.min.js"></script>
        <script type="text/javascript" src="js/streams.min.js"></script>
        <script type="text/javascript">
            function isMobile() {
                ;:jsMobileVar:;
                return isMobile;
            }
        </script>
        <link rel="stylesheet" type="text/css" href="css/streams.css" />
        <link rel="stylesheet" type="text/css" href="css/jplayer.css" />
        ;:mobileCss:;
    </head>
    <body>
        <div id="container">
            <div id="content">
                ;:pageContent:;
            </div><!--div#content-->
            <div id="content-player">
                ;:message:;
                ;:content-player:;
            </div><!--div#content-player-->
            <div class="clear"></div>
        </div><!--div#container-->
        <div id="loading">
            <div id="loadinginnertmp" style="display:none; visibility:none;">Working...</div>
            <div id="loadinginner">Working...</div>
        </div>
    </body>
</html>
