<html>
    <head>
        ;:viewport:;
        <title>MP3 Stream Builder</title>
        <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="js/mediaplayer-5.7/jwplayer.js"></script>
        <script type="text/javascript" src="js/jquery.dump.js"></script>
        <script type="text/javascript" src="js/streams.js"></script>
        <script type="text/javascript">
            function isMobile() {
                ;:jsMobileVar:;
                return isMobile;
            }
        </script>
        <link rel="stylesheet" type="text/css" href="css/streams.css" />
        ;:mobileCss:;
    </head>
    <body>
        <div id="container">
            <div id="content">
                ;:pageContent:;
            </div><!--div#content-->
            <div id="content-player">
                ;:message:;
            </div><!--div#content-player-->
            <div class="clear"></div>
        </div><!--div#container-->
    </body>
</html>
