<div id="searchbox">
    <input class="button" id="radio-button" type="button" value="Radio" /> <input class="button" id="logout-link" type="button" value="Logout" /> <input type="text" id="search" placeholder="Find some music..." />
</div><!--div#searchbox-->
